*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

:root{

    --c1: rgb(250,235,44);
    --c2: rgb(245,39,137);
    --c3: rgb(233,0,255);
    --c4: rgb(22,133,248);
    --c5: rgb(170,255,0);
    --c6: rgb(175,61,255);
    --c7: rgb(85,255,225);
    --c8: rgb(255,59,148);
    --c9: rgb(166,253,41);
    --c10: rgb(255,170,0);
    
}